:root {
  --main-color: #b5987a;
  --secondary: #F9F9F9;
  --gray: #f2f2f2
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: white !important;
  color: white !important;
}

img {
  position: unset !important;
  height: unset !important;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
}

a {
  text-decoration: none !important;
  color: unset !important;
}

.btn-main {
  background-color: var(--main-color) !important;
}

.bg-main {
  background-color: var(--main-color);
}

.text-main {
  color: var(--main-color) !important;
}

.w-150 {
  width: 150px !important;
}



.bg-sec {
  background-color: var(--secondary) !important;
}

.mw-300 {
  max-width: 300px;
}

.line-after {
  position: relative;
}

.line-after::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: black;
  bottom: -10px;
  left: 4px;
}

.scale {
  transition: .5s ease !important;
}

.section-heading,
.section-heading-left {
  position: relative;
}

.section-heading::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 120px;
  background-color: var(--main-color);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.section-heading-left::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 120px;
  background-color: var(--main-color);
  bottom: -10px;
  left: 20px;
}

.scale:hover {
  transform: scale(1.1) !important;
}

.img-top {
  max-width: 280px !important;
  bottom: -140px !important;
}

.button-public {
  bottom: -20px;
}

#navbarNav.show {
  background-color: black;
}

.animated-slide {
  animation: slideToLeft 30s linear infinite;
}

.btn-red {
  background-color: red !important;
}

.club-btn {
  animation: club 4s linear infinite;
}

.whats-fixed {
  bottom: 20px;
  right: 20px;
  width: clamp(50px, 4vw, 100px);
  animation: whatsFloating 4s linear infinite;
}

.images-public {
  width: 25%;
}

.carousel-control-next {
  right: -4vw !important;
}

.carousel-control-prev {
  left: -4vw !important;
}

.mw-400{max-width: 400px !important;}
.mh-500{max-height: 500px !important;}
.mh-200{max-height: 200px !important;}

.h-420{height: 420px !important;}

.top-n40{top: -40px !important;}

@media screen and (max-width: 992px) {}